tml {
  background-color: azure;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0%;
  padding: 0%;
}

.logo {
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  display: inline;
  padding: 0.2rem;
}

.online-status {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.bb {
  border-radius: 11px;
  background: #e0e0e0;
  box-shadow: 20px 20px 40px #9b9b9b, -20px -20px 40px #ffffff;
}
.bb {
  border-radius: 11px;
  background: #e0e0e0;
  box-shadow: 0px 20px 40px #7b8686, 20px 20px 40px #ffffff;
}

.mainmenu {
  display: inline-block;
  margin-left: 60vw;
  text-align: right;
}

ul {
  display: inline;
}
li {
  display: inline-block;
  margin-left: 0.5rem;
}

nav {
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: 20px 20px 40px #9b9b9b, -20px -20px 40px #ffffff;
}

.boxx {
  border: black 2px solid;
  margin: 2px;
  height: 80vh;
  box-shadow: 2px 2px 2px;
}

.one {
  width: 25vw;
}

.two {
  width: 50vw;
  overflow-y: scroll;
}
.three {
  width: 25vw;
  padding: 2px;
}
.maindash {
  display: flex;
  width: 100%;
}

.on-frnd {
  height: 0.7rem;
  display: inline-block;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.pro-post-img {
  width: 100%;
}
.frnd {
  height: 2.4rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
}

.chat-box {
  height: 30%;
}

.message-box {
  margin-top: 2px;

  height: max-content;
}

.cover {
  width: 99%;
  color: aqua;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.cover-pic {
  width: 100%;
  height: 9rem;
  border-radius: 1rem;
}

.pbtn {
  width: 60%;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.profile-picture {
  height: 8.9rem;
  width: 8.9rem;
  margin-left: 2rem;
  border-radius: 10rem;
  ;
}
.pro-btn {
  width: 100%;
  /* margin-left: 30%; */
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.p-status {
  z-index: 2;
  margin-left: 25%;
  margin-top: -1rem;
}
.pro-img {
  margin-top: -5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  border: 2px solid white;
  z-index: 10;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-top: 1rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  width: 30%;
  /* padding-bottom: 25%;  Same as width, sets height  */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border: 2px solid rgb(112, 107, 107);
  overflow-x: hidden;
  border-radius: 0.5rem;
  height: 50%;
  box-shadow: -11px 11px 21px #bebebe,
  11px -11px 21px #ffffff
}

.container1 {
margin-left: 20%;
margin-right: 12.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item1 {
  flex: 0 32%;
  justify-content: space-evenly;
  font-size: larger;
  border-bottom: 2px solid blue;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .mainmenu {
    display: none;
  }

  .two {
    width: 100vw;
  }
  .one {
    display: none;
  }
  .three {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mainmenu {
    display: none;
  }

  .two {
    width: 100vw;
  }
  .one {
    display: none;
  }
  .three {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .mainmenu {
    display: none;
  }

  .two {
    width: 100vw;
  }
  .one {
    display: none;
  }
  .three {
    width: 25vw;
  }
}

@media only screen and (max-width: 1200px) {
  .mainmenu {
    display: none;
  }

  .two {
    width: 100vw;
  }
  .one {
    display: none;
  }
  .three {
    width: 25vw;
  }
}
