html{
    background-color: azure;

}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
}

.logo{
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: inline;
    padding: 0.2rem;
}

.bb{
    border: 1px solid black;
}

.mainmenu{
    display: inline-block;
    margin-left: 60vw;
    text-align: right;
}

ul{
    display: inline;

}
li{
    display: inline-block;
    margin-left: 0.5rem;
}

nav{
    border: 1px solid black;
}

.boxx{
    border: black 1px solid;
    margin: 1px;
    height: 80vh;
    box-shadow: 1px 1px 1px ;


}

.one{
    width: 25vw;
}
.mar-5{
    margin: 00.5rem;
}

.h-5{
    height: 2.4rem;
}
.two{
    width: 50vw;
    height: 80vh;
    

}
.three{
    width: 25vw;
    padding: 1px ;

}
.maindash{
    display: flex;
    width: 100%;
}

.on-frnd{
    height: 0.7rem;
    display: inline-block;
    padding: 0.8rem;
    
    
}

.frnd{
    height: 2.4rem;
}

.message-box{
   margin-top: 1px;
   height: max-content;
}

.clan{
    height: 2.5rem;
    margin: 0.5rem 0.5rem;
}
.the-title{
    margin-left: 0.5rem;
    margin-top: 5px;
}

.profile-pic{
    height: 50%;
    width: 5%;
}

.ib{
    display: inline-block;
}

.i{
    display: inline;
}

.post{
    height: auto;
}


.mar-10{
    margin: 0px 1rem;
}

.h-80{
    height: 80%;

}
.w-80{
    width: 80%;
}
.post-image{
    width: 97%;
    padding: 5px;
}

.react-bar{
    margin: 0.1rem;
    width: 99%;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.react{
    border: 1px solid black;
    margin: 2px;

}